certifi==2025.8.3
charset-normalizer==3.4.3
dotenv==0.9.9
fastapi>=0.104.1
idna==3.10
llama-index-core==0.14.3
llama-index-llms-openai==0.6.1
openai==1.109.1
pydantic>=2.6.0
python-dotenv==1.1.1
requests==2.32.5
streamlit==1.28.1
urllib3==2.5.0
uvicorn==0.24.0
